@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<div class="container">
  <h2>Associate "@Html.DisplayFor(model => model.FlavorName)" with this Treat</h2>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select a Treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save"/>
  }
  <p>@Html.ActionLink("Cancel", "Details", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>