@{
  Layout = "_Layout";
}

@using Bakery.Models
@model Bakery.Models.Flavor

<div class="container">
  <h2>Treats that have this flavor : @Html.DisplayFor(model => model.FlavorName)</h2>

  @if(Model.JoinEntities.Count == 0)
  {
    <p> This flavor has no Treats associated with it. Add one @Html.ActionLink("Now?", "AddTreat", new { id = Model.FlavorId})</p>
  }
  else
  {
    <ul>
      @foreach(TreatFlavor join in Model.JoinEntities)
      {
        <li>@join.Treat.TreatName</li>
        @using (Html.BeginForm("DeleteJoin", "Flavors"))
        {
          @Html.Hidden("joinId", @join.TreatFlavorId)
          <input type="submit" value="Delete">
        }
      }
    </ul>
  }
  
  <p>@Html.ActionLink("Remove this Flavor", "Delete", new { id = Model.FlavorId })</p>
  <p>@Html.ActionLink("Back to List of Flavors", "Index")</p>
  <p>@Html.ActionLink("Add another sweet?", "Create")</p>
  <p>@Html.ActionLink("Edit this Flavors name", "Edit", new { id = Model.FlavorId })</p>
    @if (Model.JoinEntities.Count != 0)
  {
    <p>@Html.ActionLink("Associate another treat to this sweet", "AddFlavor", new { id = Model.FlavorId })  </p>
  }
  
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>